.metaDataContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    animation: slideMe 3s ease;
}

@keyframes slideMe{
    from{transform:translateX(-500px);}
    to{transform: translateX(0px);}
}

.metaDataContainer > div{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    height: 90vh;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 5px black;
}

#imgMetaData{
    width: 100%;
    height: 100%;
}

.metaDataContainer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.metaDataContainer2 > div{
    margin: 5px;
    padding: 5px;
    background-color: cadetblue;
    color: black;
    width: 100%;
    box-shadow: 1px 1px 2px cadetblue;
}
@media only screen and (max-width: 600px){
    .metaDataContainer{
        flex-direction: column;
        animation: slideMe 3s ease;
    }

@keyframes slideMe{
        from{transform:translateY(-500px);}
        to{transform: translateY(0px);}
    }
}