*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    height: 50px;
    background-color:cadetblue;
    padding: 30px;
    position: sticky;
    top: 0;
}

